.container {
  background-color: red;
  height: 30vh;
  width: 30px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 25vh;
  animation: rotate 5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
body h2 {
  display: flex;
  justify-content: center;
}
