.button {
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  border: 1px solid black;margin: 0 auto;margin-top: 100px;
}

.button button{
    height: 30px;width: 100px;
    cursor: pointer;
}
.button button:active{
    background-color: green;color: white;
}
